#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #ff9068;
}

@keyframes backGroundColorBody {
  from {
    background-color: #ff9068;
  }

  to {
    background-color: #cdacfa;
  }
}

#counter {
  color: #efddd8;
  font-size: 170px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

@keyframes backGroundColorText {
  from {
    color: #efddd8;
  }

  to {
    color: #f0def2;
  }
}
