#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #ffac91;
}

@keyframes backGroundColor {
  from {
    background-color: #ffac91;
  }

  to {
    background-color: #f5d1f2;
  }
}

.counter {
  color: #673965;
  font-size: 170px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
